<html>
<head>
<title><%= title %></title>

<!-- Style Sheets -->
<link rel="stylesheet" type="text/css" href="<%= configs.path.css %>style.css">

<!-- JS Files -->
<!-- vendor -->
<script type="text/javascript" src="<%= configs.path.js %>jquery-1.12.0.js"></script>
<script type="text/javascript" src="<%= configs.path.js %>jquery-ui-1.11.4.js"></script>

<!-- App -->
<script type="text/javascript" src="<%= configs.path.js %>index.js"></script>

</head>

<body>
<div id="container">

<!-- header -->
<div id="header">
	<div id="title">GERIK PETERSON</div><!--title-->

	

	<hr />
</div><!--header-->
